        
    {% include metadata.html %}

    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/mdb.min.css' | relative_url }}"/>

    <link rel="stylesheet" href="{{ '/assets/css/all.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/github.css' | relative_url }}"/>

    {% if site.icon != empty -%}
    <link rel="icon" href="{{ '/assets/img/prof_pic.ico' | relative_url }}">
    {%- endif %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    {%- if site.enable_darkmode %}

    <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/dark_mode.js' | relative_url }}"></script>
    {%- endif -%}
