/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v29-latin-regular.eot');
  src: local(''),
       url('../fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v29-latin-regular.woff') format('woff'),
       url('../fonts/roboto-v29-latin-regular.ttf') format('truetype'),
       url('../fonts/roboto-v29-latin-regular.svg#Roboto') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v29-latin-500.eot');
  src: local(''),
       url('../fonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-v29-latin-500.woff2') format('woff2'),
       url('../fonts/roboto-v29-latin-500.woff') format('woff'),
       url('../fonts/roboto-v29-latin-500.ttf') format('truetype'),
       url('../fonts/roboto-v29-latin-500.svg#Roboto') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v29-latin-700.eot');
  src: local(''),
       url('../fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-v29-latin-700.woff') format('woff'),
       url('../fonts/roboto-v29-latin-700.ttf') format('truetype'),
       url('../fonts/roboto-v29-latin-700.svg#Roboto') format('svg');
  font-display: swap;
} */

/* @font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans/fira-sans-v15-latin-regular.eot');
  src: local(''),
       url('../fonts/fira-sans/fira-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fira-sans/fira-sans-v15-latin-regular.woff2') format('woff2'),
       url('../fonts/fira-sans/fira-sans-v15-latin-regular.woff') format('woff'),
       url('../fonts/fira-sans/fira-sans-v15-latin-regular.ttf') format('truetype'),
       url('../fonts/fira-sans/fira-sans-v15-latin-regular.svg#FiraSans') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans/fira-sans-v15-latin-500.eot');
  src: local(''),
       url('../fonts/fira-sans/fira-sans-v15-latin-500.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fira-sans/fira-sans-v15-latin-500.woff2') format('woff2'),
       url('../fonts/fira-sans/fira-sans-v15-latin-500.woff') format('woff'),
       url('../fonts/fira-sans/fira-sans-v15-latin-500.ttf') format('truetype'),
       url('../fonts/fira-sans/fira-sans-v15-latin-500.svg#FiraSans') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans/fira-sans-v15-latin-700.eot');
  src: local(''),
       url('../fonts/fira-sans/fira-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fira-sans/fira-sans-v15-latin-700.woff2') format('woff2'),
       url('../fonts/fira-sans/fira-sans-v15-latin-700.woff') format('woff'),
       url('../fonts/fira-sans/fira-sans-v15-latin-700.ttf') format('truetype'),
       url('../fonts/fira-sans/fira-sans-v15-latin-700.svg#FiraSans') format('svg');
  font-display: swap;
} */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v25-latin-regular.eot');
  src: local(''),
       url('../fonts/noto-sans-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/noto-sans-v25-latin-regular.woff2') format('woff2'),
       url('../fonts/noto-sans-v25-latin-regular.woff') format('woff'),
       url('../fonts/noto-sans-v25-latin-regular.ttf') format('truetype'),
       url('../fonts/noto-sans-v25-latin-regular.svg#NotoSans') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v25-latin-700.eot');
  src: local(''),
       url('../fonts/noto-sans-v25-latin-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/noto-sans-v25-latin-700.woff2') format('woff2'),
       url('../fonts/noto-sans-v25-latin-700.woff') format('woff'),
       url('../fonts/noto-sans-v25-latin-700.ttf') format('truetype'),
       url('../fonts/noto-sans-v25-latin-700.svg#NotoSans') format('svg');
  font-display: swap;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
