---
layout: parse
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl | prepend: site.url }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <body class="{%- if site.navbar_fixed -%}fixed-top-nav{%- endif -%}">
    {%- include header.html %}

    <div class="container mt-5">
      {{ content }}
    </div>

    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
  </body>
</html>
